In [1]:
import pandas as pd

In [15]:
def check_missing_values(df: pd.DataFrame)-> pd.DataFrame:
    """Return te porcentage of missing values for each column from a pandas dataframe.

    Args:
        df (pd.DataFrame): Dataframe

    Returns:
        pd.DataFrame: Dataframe
    """
    percent_missing = df.isnull().sum() * 100 / len(df)
    missing_value_df = pd.DataFrame({'column_name': df.columns,
                                    'percent_missing': percent_missing})
    return missing_value_df

In [61]:
json_file = 'es-addresses\es_25829-addresses-country.geojson\es_25829-addresses-country.geojson'

In [62]:
df = pd.read_json(json_file, lines=True)

In [4]:
df.head()

,type,properties,geometry
0,Feature,"{'id': '', 'unit': '', 'number': '1', 'street'...","{'type': 'Point', 'coordinates': [38.648591, -..."
1,Feature,"{'id': '', 'unit': '', 'number': '2', 'street'...","{'type': 'Point', 'coordinates': [38.6483981, ..."
2,Feature,"{'id': '', 'unit': '', 'number': '3', 'street'...","{'type': 'Point', 'coordinates': [38.6485771, ..."
3,Feature,"{'id': '', 'unit': '', 'number': '4', 'street'...","{'type': 'Point', 'coordinates': [38.6484897, ..."
4,Feature,"{'id': '', 'unit': '', 'number': '5', 'street'...","{'type': 'Point', 'coordinates': [38.6486372, ..."

In [5]:
df.shape

(2923181, 3)

In [16]:
df.describe()

In [16]:
check_missing_values(df)

           column_name  percent_missing
type              type              0.0
properties  properties              0.0
geometry      geometry              0.0

In [42]:
df_properties = pd.DataFrame.from_records(df['properties'])

In [43]:
df_properties.head()

,id,unit,number,street,city,district,region,postcode,hash
0,,,1,CL ALMENDRALEJO,,,,6207,04a6dd885b602290
1,,,2,CL ALMENDRALEJO,,,,6207,9b63e82078d99b22
2,,,3,CL ALMENDRALEJO,,,,6207,a33bcbfe879009a6
3,,,4,CL ALMENDRALEJO,,,,6207,784b409f6df4aa42
4,,,5,CL ALMENDRALEJO,,,,6207,a7a91aa759c3a41c

In [44]:
df_properties.shape

(2923181, 9)

In [45]:
check_missing_values(df_properties)

         column_name  percent_missing
id                id              0.0
unit            unit              0.0
number        number              0.0
street        street              0.0
city            city              0.0
district    district              0.0
region        region              0.0
postcode    postcode              0.0
hash            hash              0.0

In [46]:
df_properties[df_properties['hash'].duplicated()].value_counts().count()

3152

In [47]:
df_properties[df_properties['hash'].duplicated()].value_counts()

id  unit  number  street               city  district  region  postcode  hash
          number  street                                       postcode  e70d2a522603d9f0    989
          S/N     RU LOIS PEÃ‘A NOVO                            27800     633546627b3d1bd7      3
                  LG PRADO-MORGADANS                           36389     23269c727c87555f      1
                  LG POUSA                                     15917     2d4ba0848806c0c2      1
                  LG POUSADA                                   15184     55da58702b68a32c      1
                                                                                            ...
                  CR PUERTO DEL                                11540     cb53e07ad8242349      1
                  CR SAN COSME-ZAMANS                          36310     764037768c6931f1      1
                  CR SAN RAMON                                 15563     1558b7223afc7f3c      1
                                                                         67638c081590c6ca      1
                  LG ESCASELAS                                 15154     7c1ad945a352475a      1
Name: count, Length: 3152, dtype: int64

In [48]:
df_view = df_properties[df_properties['hash'] == '23269c727c87555f']
df_view

,id,unit,number,street,city,district,region,postcode,hash
2849803,,,S/N,LG PRADO-MORGADANS,,,,36389,23269c727c87555f
2849839,,,S/N,LG PRADO-MORGADANS,,,,36389,23269c727c87555f

In [49]:
df_properties = df_properties.drop_duplicates(subset=['hash'], keep='last')
df_properties = df_properties[df_properties['hash'] != 'e70d2a522603d9f0']

In [50]:
df_properties[df_properties['hash'].duplicated()].value_counts()

Series([], Name: count, dtype: int64)

In [51]:
df_properties[df_properties['hash'] == '23269c727c87555f']

,id,unit,number,street,city,district,region,postcode,hash
2849839,,,S/N,LG PRADO-MORGADANS,,,,36389,23269c727c87555f

In [57]:
df_properties.shape

(2919038, 9)

In [32]:
df_geometry = pd.DataFrame.from_records(df['geometry'])

In [52]:
df_geometry.head()

    type               coordinates
0  Point   [38.648591, -6.4870695]
1  Point  [38.6483981, -6.4866108]
2  Point  [38.6485771, -6.4867755]
3  Point  [38.6484897, -6.4865472]
4  Point  [38.6486372, -6.4867313]

In [34]:
df_geometry.shape

(2923181, 2)

In [53]:
check_missing_values(df_geometry)

             column_name  percent_missing
type                type              0.0
coordinates  coordinates              0.0

In [54]:
df_final = pd.merge(df_properties, df_geometry, left_index=True, right_index=True)

In [55]:
df_final.head()

,id,unit,number,street,city,district,region,postcode,hash,type,coordinates
0,,,1,CL ALMENDRALEJO,,,,6207,04a6dd885b602290,Point,"[38.648591, -6.4870695]"
1,,,2,CL ALMENDRALEJO,,,,6207,9b63e82078d99b22,Point,"[38.6483981, -6.4866108]"
2,,,3,CL ALMENDRALEJO,,,,6207,a33bcbfe879009a6,Point,"[38.6485771, -6.4867755]"
3,,,4,CL ALMENDRALEJO,,,,6207,784b409f6df4aa42,Point,"[38.6484897, -6.4865472]"
4,,,5,CL ALMENDRALEJO,,,,6207,a7a91aa759c3a41c,Point,"[38.6486372, -6.4867313]"

In [56]:
df_final.shape

(2919038, 11)

In [63]:
import pandas as pd
import requests
import gzip
import json
from io import BytesIO
import os

In [64]:
url = 'https://s3.eu-west-3.amazonaws.com/datateam.matrixiangroup/data-engineer-assignment/es-addresses.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA4VO55AJ2MGKSCBVQ%2F20230801%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-Date=20230801T061647Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=d4b7d7d6f822b67c83a01edf62ca4e30ebe85ec4fc3b0e9745008aaa3646aacd'
download_folder = 'data'

In [66]:
response = requests.get(url)

if response.status_code == 200:
    file_path = os.path.join(download_folder, 'downloaded_file.gz')
    with open(file_path, 'wb') as f:
        f.write(response.content)
else:
    print("Error: Failed to download the file.")

In [95]:
import pandas as pd
import zipfile

dataframes = []

with zipfile.ZipFile('data\downloaded_file.gz', 'r') as zip_file:
    for file_name in zip_file.namelist():
        print(file_name)
        if file_name.endswith('.gz'):
            with zip_file.open(file_name) as json_file:
                binary_data = json_file.read()
                text = binary_data.decode('utf-8')
                df = pd.read_json(text.decode('utf8'))
                #df = pd.read_json(json_file)
                dataframes.append(df)

es_25829-addresses-country.geojson.gz

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte

In [78]:
dataframes

[]